{
  "extends": [
    "airbnb/base"
  ],
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": { "modules": true }
  },
  "rules": {
    "no-underscore-dangle": [0],
    "prefer-promise-reject-errors": [0],
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}]
  },
  "globals": {
    "Promise": true,
    "io": true,
    "describe": true,
    "it": true,
    "expect": true,
    "before": true,
    "after": true,
    "beforeEach": true,
    "sinon": true
  }
}
