<tr>
  <td class="btn btn-muted padder-md" style="box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 14px; vertical-align: top; width: 100%; padding: 20px;" width="100%" valign="top">
    <a href="{{actionUrl}}" title="{{actionText}}" style="box-sizing: border-box; text-transform: capitalize; text-decoration: none; background-color: #ffffff; border: solid 1px #4173A9; border-radius: 5px; color: #4173A9; display: inline-block; font-size: 14px; font-weight: bold; margin: 0; padding: 12px 25px; cursor: pointer;">{{actionText}}</a>
  </td>
</tr>
